.lend-form {
  padding: 5%;
  background-color: rgb(255, 255, 255);
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #4a4a4a;
  margin-top: 2%;
}

.lend-label {
  display: block;
  padding-top: 30px;
}
/* 
.dropdown-inputs{
  width: 100%;
  margin: 3vh auto;
  font-size: 16px;
  padding: 5px;
  font-family: 'Roboto';
  color: #001c5c;
  border : 1px rgb(29, 29, 29) solid;
} */

.journeyRow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 4%;
}

.journeyFrom, .journeyTo, .toImage{
  flex:1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fromDate, .toDate{
  font-size: 3.5vh;
  width: 85%;
  padding-left: 4%;
  padding: 2% 0%;
  padding-right: auto;
}

#registration, #rent, #dep, #refund-dep, #pickup-add{
  width: 96%;
  border: 0;
  padding: 2%;
  margin: 3% 2% 0% 2%;
  opacity: 1;
}

#category-display, #seats-display, #registration, #rent, #dep, #refund-dep, #pickup-add{
  border-bottom: solid 1px #151515;
  font-size: 3vh;
  color: #151515;
}

#category-display, #seats-display{
  flex:1;
  padding: 2% 2% 7% 2%;
  margin: 2%;
  opacity: 0.5;
}

.errorLogs{
  color : red;
  font-size: 10px;
  padding-left: 5%;
  padding-right: auto;
  margin-bottom: 1%;
}

.selectDiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  width: 100%;
  font-family: "Roboto";
  font-size: 1vh;
  margin: 3% auto;
  cursor: pointer;
}

.selectDiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #151515;
    right: 15px;
    top: 6px;
    height: 100%;
    padding: 15px 0px 0px 15px;
    position: absolute;
    cursor: pointer;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectDiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 3vh;
  line-height: 1.75;
  color: #151515;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #151515;
  border-radius: 5px;
  -ms-word-break: normal;
  word-break: normal;
  cursor: pointer;
}

.selectDiv select:disabled {
  cursor:default;
}

.dropdown-inputs:disabled{
  opacity: 0.6;
}

.label-text {
  color: #9b9b9b;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

.lend-label .lend-input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4a4a4a;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  transition: all 0.3s;
  width: 200px;
}

.lend-input:focus {
  max-width: 100%;
  width: 400px;
}

.lend-input:focus + .label-text {
  color: #f0f0f0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.lend-input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.lend-button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}
.lend-button:hover,
.lend-button:focus {
  border : 2px solid rgb(29, 29, 29);
  background-color: rgb(253, 242, 242);
  color: #474747;
  transition: color 300ms ease-out, background-color 300ms ease-in;
  outline: 0;
}

.lend-small {
  color: red;
}

.lend-submit{
  margin-left: auto;
  margin-right: auto;
}

.add-image{
  margin-left: 2%;
}