video {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.nbr{
  font-size: 2.20vw;
  color: #fff;
}

.ltr{
  font-size: 2.20vw;
  color: #fff;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.btns {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 55px auto 0 auto;
  width: 100%;
  max-width: 50rem;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;

  box-shadow: 0 8px 6px rgba(0,0,0,0.3);
}

.buttonContainer {
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.button {
  width: 100%;
  border-radius: 5px;
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
